<div class="row">
	<!-- <div style="padding-left: -10px;">
		<img src="http://suksa.online/suksa/frontend/template/images/icons/favicon1.png" style="width: 110px; height: 110px;">
	</div> -->

	<div style="padding-bottom: 15px; font-size: 16px;">
		<label>ยืนยันตัวตนสำหรับเข้าใช้งาน VR Driver</label><br>
		<label style="font-size: 16px;">ยินดีต้อนรับสู่ VR Driver กรุณากดลิ้งค์ด้านล่างเพื่อยืนยันตัวตนสำหรับเข้าใช้งาน</label><br><br>

		<label>Verify your account for VR Driver</label><br>
		<label style="font-size: 16px;">Welcome to VR Driver. To activate your VR Driver account please click link below the message.</label><br><br>
		
		<label style="font-size: 14px;"><a href="{{ activate_link }}">{{ activate_link }}</a></label><br><br>

		<label style="font-size: 14px;">Username : {{ username }}</label><br>
		<label style="font-size: 14px;">Password : {{ password }}</label><br><br> 

		<label>Thanks,</label><br>
		<label>VR Driver Team</label> <label><a href="http://vrdriver.com">www.vrdriver.com</a></label>
	</div>

	<div style="border-top: 1px solid #eee; padding-top: 13px;">
		<label style="font-size: 12px;">Customer Support (Mon-Fri 09:00-18:00) <b style="font-size: 16px;">02-982-9999</b></label><br>
		<label style="font-size: 12px;">Copyright © 2020 Service. All rights reserved.</label>
	</div>
</div>