<div class="row">
	<!-- <div style="padding-left: -10px;">
		<img src="http://suksa.online/suksa/frontend/template/images/icons/favicon1.png" style="width: 110px; height: 110px;">
	</div> -->

	<div style="padding-bottom: 15px; font-size: 16px;">
		<label style="font-size: 16px;">การวางบิลงาน {{ request_no }} เรียบร้อยแล้ว</label><br>
		<label style="font-size: 14px;">คุณ {{ member_fullname }} มีการใช้งานเกิน package</label><br>
		<label style="font-size: 14px;">โดยมีการวางบิลงาน {{ request_no }} เป็นจำนวนเงิน {{ billing_amount }} บาท</label><br><br>   

		<label style="font-size: 16px;">The billing of request no. {{ request_no }} has been completed.</label><br>
		<label style="font-size: 14px;">{{ member_fullname }} has exceeded the package quota.</label><br>
		<label style="font-size: 14px;">There is a fee for request no. {{ request_no }} of {{ billing_amount }} baht.</label><br><br>     

		<label>Thanks,</label><br>
		<label>VR Driver Team</label> <label><a href="http://vrdriver.com">www.vrdriver.com</a></label>
	</div>

	<div style="border-top: 1px solid #eee; padding-top: 13px;">
		<label style="font-size: 12px;">Customer Support (Mon-Fri 09:00-18:00) <b style="font-size: 16px;">02-982-9999</b></label><br>
		<label style="font-size: 12px;">Copyright © 2020 Service. All rights reserved.</label>
	</div>   
</div>