<div class="row">
	<!-- <div style="padding-left: -10px;">
		<img src="http://suksa.online/suksa/frontend/template/images/icons/favicon1.png" style="width: 110px; height: 110px;">
	</div> -->

	<div style="padding-bottom: 15px; font-size: 16px;">
		<label style="font-size: 16px;">แจ้งเตือนการเปลี่ยนชื่อของผู้ใช้งาน</label><br>
		<label style="font-size: 14px;">ระบบขอแจ้งว่าคุณ {{ old_member_fullname }} ได้ทำการเปลี่ยนชื่อเป็น {{ new_member_fullname }}</label><br><br>

		<label style="font-size: 16px;">Notification of changing the user's name</label><br>
		<label style="font-size: 14px;">System will inform that {{ old_member_fullname }} has changed the name to {{ new_member_fullname }}</label><br><br>     

		<label>Thanks,</label><br>
		<label>VR Driver Team</label> <label><a href="http://vrdriver.com">www.vrdriver.com</a></label>
	</div>

	<div style="border-top: 1px solid #eee; padding-top: 13px;">
		<label style="font-size: 12px;">Customer Support (Mon-Fri 09:00-18:00) <b style="font-size: 16px;">02-982-9999</b></label><br>
		<label style="font-size: 12px;">Copyright © 2020 Service. All rights reserved.</label>
	</div>   
</div>