<div class="row">
	<!-- <div style="padding-left: -10px;">
		<img src="http://suksa.online/suksa/frontend/template/images/icons/favicon1.png" style="width: 110px; height: 110px;">
	</div> -->

	<div style="padding-bottom: 15px; font-size: 16px;">
		<label style="font-size: 16px;">ท่านไม่สามารถเป็นสมาชิกคนขับอย่างเป็นทางการของ VR Driver ได้</label><br>
		<label style="font-size: 16px;">เนื่องจากไม่ผ่านคุณสมบัติ หรือหากมีข้อสงสัยกรุณาติดต่อสอบถามได้ที่เบอร์ 02-032-2445</label><br><br>

		<label style="font-size: 16px;">You cannot become an official driver member of VR Driver</label><br>
		<label style="font-size: 16px;">because your qualifications do not meet the criteria of the VR Driver. If you have any questions, please contact us at 02-032-2445</label><br><br>

		<label style="font-size: 14px;">
			<a href="{{ android_link }}">android</a>&nbsp;&nbsp;&nbsp;
			<a href="{{ ios_link }}">ios</a>
		</label><br><br>
		<label>Thanks,</label><br>
		<label>VR Driver Team</label> <label><a href="http://vrdriver.com">www.vrdriver.com</a></label>
	</div>

	<div style="border-top: 1px solid #eee; padding-top: 13px;">
		<label style="font-size: 12px;">Customer Support (Mon-Fri 09:00-18:00) <b style="font-size: 16px;">02-982-9999</b></label><br>
		<label style="font-size: 12px;">Copyright © 2020 Service. All rights reserved.</label>
	</div>   
</div>